/* This file will be dynamically loaded from the Webflow CDN */
/* The actual styles are loaded from: */
/* https://cdn.prod.website-files.com/68264700ea161932bdd80da7/css/focusly-template.webflow.shared.dc6b0d070.css */

/* We'll import this in the layout component using a <link> tag */